.CreateVoting {
    text-align: center;
}

.CreateVoting input {
    width: 500px;
    margin: 10px;
    height: 20px;
}

.CreateVoting button {
    background-color: #eee;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.deployed {
    border: 1px solid lightgreen;
    width: 60%;
    margin: 20px auto;
    padding: 8px;
    border-radius: 5px;
}